.loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.loader .loader_inner {
  background-image: url("../img/preloader.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  left: 50%;
  top: 50%;
  position: absolute;
}

.hidden {
  display: none;
  top: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #FFF;
  line-height: 1.42857143;
  font-size: 16px;
  color: #1c1c1c;
  background-color: #000;
  padding-top: 60px;
}

.content-wrapper {
  min-height: 70vh;
  background-color: #fcfcfc;
}

p {
  margin: 0 0 11px 0;
  font-weight: 300;
}

.content {
  background-color: #fcfcfc;
  padding: 60px 15px;
}

.content a {
  margin-top: 3rem;
}

.content-title {
  margin-top: 20px;
  margin-bottom: 10px;
}

.content-subtitle {
  margin-top: 20px;
  margin-bottom: 10px;
}

.section-title {
  margin-top: 20px;
  margin-bottom: 10px;
}

.section-subtitle {
  margin-top: 20px;
  margin-bottom: 10px;
}

.vertical-align-middle {
  vertical-align: middle;
}

.homepage .banner {
  color: #fff;
  padding: 40px 0 30px 20px;
  background-color: #141414;
  background-image: url("../img/homepage/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section-banner {
  color: #fff;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-banner .row {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-banner .row-dh-2 {
  line-height: 260px;
}

.bottom-align h1,
.bottom-align h2 {
  display: inline-block;
  vertical-align: bottom;
}

.dark-blue {
  background-color: #2a3742;
  color: #fff;
  padding-top: 40px;
}

.page-about .section-banner {
  background-image: url("../img/about/bg.jpg");
}

.page-activities .section-banner {
  background-image: url("../img/activities/bg.jpg");
}

.page-technologies .section-banner {
  background-image: url("../img/technologies/bg.jpg");
}

.page-about .contact {
  background-color: #e5e5e5;
  padding-bottom: 20px;
}

.page-about .contact a {
  color: #1c1c1c;
}

.page-about .contact a i {
  font-size: 3em;
  padding-bottom: 20px;
}

.page-about .contact a:hover {
  color: #009adf;
}

/* pricing */
.pricing-item {
  color: #FFF;
  background-color: #274851;
  border: 10px solid #fff;
}

.pricing-item:nth-of-type(2n) {
  background-color: #009adf;
}

.pricing-item .plan {
  margin-top: 40px;
  margin-bottom: 60px;
}

.pricing-item .plan .price {
  font-size: 65px;
  margin-top: 50px;
  line-height: 55px;
  font-weight: 500;
}

.pricing-item .plan .price p {
  font-size: 14px;
  text-align: center;
}

.pricing-item .plan .price i {
  line-height: 0;
}

.pricing-item .plan a.btn {
  margin-top: 0;
}

.plan-bullets {
  height: 280px;
  margin: 30px auto 10px auto;
  padding: 0 20px 0 0px;
}

.plan-bullets ul {
  margin-left: 50px;
  list-style: disc;
}

/* register */
#register img {
  margin-bottom: 40px;
  margin-top: 40px;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}
